* {
  outline: 0;
  margin: 0;
  padding: 0;
}

.Carousel_wrap {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.Carousel_container{
  width: 80vw;
  height: 80vh;
  background-color: tomato;
}



.Carousel1 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin: 50px;
  display: inline-block;
}

.Carousel1:nth-child(1) {
  transform: rotate(0deg);
}

.Carousel1:nth-child(2) {
  transform: rotate(45deg);
}

.Carousel1:nth-child(3) {
  transform: rotate(90deg);
}

.Carousel1:nth-child(4) {
  transform: rotate(135deg);
}

.Carousel1:nth-child(5) {
  transform: rotate(180deg);
}

.Carousel1:nth-child(6) {
  transform: rotate(-135deg);
}

.Carousel1:nth-child(7) {
  transform: rotate(-90deg);
}

.Carousel1:nth-child(8) {
  transform: rotate(-45deg);
}
