*{
  margin: 0;
  padding: 0;
  outline: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;

}

.circle_wrap{
  width: 100vw;
  height: 100vh;
  background-color: gray;
  overflow: hidden;

}

.circle-text {
  width: 100vw;
  height: 50vh;
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  width: 50%;
  height: 50%;
  background-color: tomato;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-size: 30px;

}


.circle-container {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  margin: auto;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-center {
  width: 100px;
  height: 100px;
  background-color: #2196F3;
  position: relative;
  
}

.circle-item{
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: tomato;
  border: solid 1px;
  margin-left: -75%;
  margin-top: -75%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.circle-btn{
  position: absolute;
  top: 175px;
}

.circle-item:nth-child(1){
  transform: translate(0, -250%);
}
.circle-item:nth-child(2){
  transform: translate(175%, -175%) rotate(45deg);
}
.circle-item:nth-child(3){
  transform: translate(250%, 0) rotate(90deg);
}
.circle-item:nth-child(4){
  transform: translate(175%, 175%) rotate(135deg);
}
.circle-item:nth-child(5){
  transform: translate(0, 250%) rotate(180deg);
}
.circle-item:nth-child(6){
  transform: translate(-175%, 175%) rotate(-135deg);
}
.circle-item:nth-child(7){
  transform: translate(-250%, 0) rotate(-90deg)
}
.circle-item:nth-child(8){
  transform: translate(-175%, -175%) rotate(-45deg)
}